<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Login Successfully</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
</head>
<body>
    <div align="center">
    	<h1> 亲爱的{{userName}},欢迎来到我的网站!</h1>
    	<br><br>
    	<table align="center">
    		<tr>
    			<td>用户名：</td>
    			<td>{{userName}}</td>
    		</tr>
    		<tr>
    			<td>用户Id：</td>
    			<td>{{userId}}</td>
    		</tr>
    		<tr>
    			<td>邮箱地址：</td>
    			<td>{{email}}</td>
    		</tr>

    	</table>
    	<br><br>
    	<a href="/index/"> 注销 </a>
    </div>
</body>
</html>